<footer class="flex-shrink-0 py-3">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 gy-2 align-items-center">
            <div class="col text-center order-last order-md-first text-md-start">
                <span>&copy;2024</span> <span>Luke Matulis | lmatulis@comcast.net</span>
                <br />
                <a href="https://lmatulis-portfolio.netlify.app/" class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    Portfolio
                </a>
                <span> &#x2022 </span>
                <a href="https://github.com/lmatulis" class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    Repo
                </a>
            </div>
            <div class="col text-center">
                <img src="/images/connectlink-brand.png" width="250">
            </div>
            <div class="col hstack gap-0 justify-content-center justify-content-md-end">
                <div>
                    <a href="#" class="text-decoration-none display-6"><i class="bi bi-linkedin social-icons p-2"></i></a>
                </div>
                <div>
                    <a href="https://github.com/lmatulis" class="text-decoration-none display-6"><i class="bi bi-github social-icons p-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
