@page "/"

<PageTitle>Home</PageTitle>

<div class=" container-xl d-flex h-100 flex-column justify-content-center">

    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column">

            <h1 class="mainTitle my-3" style="font-size: 2.5rem;">All Your Contacts in One Place</h1>
            <div class="subTitle my-3">
                Organize your contacts and events by keeping everyone in the loop. Experience the power of Connect<em>Link</em> with a Demo Today!
            </div>
            <hr />
            <div class="mt-3 mb-3 descText">Built with the power of this cutting edge tech:</div>
            <div class="techStack">
                <i class="devicon-blazor-original colored"></i>
                <i class="devicon-dotnetcore-plain colored"></i>
                <i class="devicon-csharp-plain colored"></i>
                <i class="devicon-postgresql-plain colored"></i>
                <i class="devicon-bootstrap-plain colored"></i>
                
            </div>
            <div class="text-start mt-5">
                <a href="/contacts" class="btn btn-primary btn-large rounded-pill">Get Started</a>
            </div>
        </div>
        <div class="col-12 col-md-6 order-first order-md-last text-center">
            <img src="/images/connetclink-logop.svg" alt="App Logo" class="img-fluid" width="800" />
        </div>
    </div>

</div>
